* {
  box-sizing: border-box;
}

:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

/* =================common========== */
.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  display: inline-block;
  min-width: 205px;
  line-height: 60px;
  background: #2e80ce;
  color: #fff;
  text-align: center;
  /* font-family: Sora; */
  font-size: 1.8rem;
  /* font-style: normal; */
  font-weight: 400;
  /* line-height: 1.67; 166.667% */
  border-radius: 999px;
}

.btn:hover {
  opacity: 0.9;
}

.section-heading {
  color: #10375c;
  /* text-align: center; */
  font-family: Sora;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc {
  margin-top: 18px;
  color: #575f66;
  /* text-align: center; */
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.control {
  display: flex;
  column-gap: 18px;
  align-items: center;
}

.control__btn {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #575f66;
  background: #fff;
  cursor: pointer;
  /* flex-shrink: 0; */
  transition: 0.25s;
}

.control__btn:hover {
  background: #2e80ce;
  border-color: #2e80ce;
  color: #fff;
}

.control-icon--next {
  rotate: 180deg;
}
/* ==============header=================== */
.header {
  background: var(--header-bg);
  min-height: 100vh;
  padding-top: 30px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__list {
  display: flex;
}
.header__action--login,
.navbar__link {
  padding: 8px 21px;
  color: #c9d2da;
  text-align: center;
  /* font-family: Sora; */
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.navbar__link:hover,
.navbar__link--active {
  /* font-weight: 400; */
  text-shadow: 1px;
  color: #fff;
}

.navbar__link--active::before {
  position: relative;
  right: 8px;
  top: -2px;
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #fff;
}

.header__action--signup {
  min-width: 144px;
  line-height: 44px;
  font-size: 1.6rem;
}

.header__action--login {
  margin-right: 7px;
}

/* ================hero=================== */
.hero {
  display: flex;
  padding-top: 40px;
  /* padding-bottom: -1140px; */
  align-items: center;
}

.hero__content {
  width: 44%;
}

.hero__media {
  flex: 1;
}

.hero__heading {
  color: #fff;
  font-family: Sora;
  font-size: 7rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.15; /* 114.286% */
  letter-spacing: -1.4px;
}

.hero__desc {
  margin-top: 28px;
  color: #c9d2da;
  font-family: Sora;
  font-size: 1.8rem;
  /* font-style: normal; */
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.hero__row {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 38px;
}

.hero__phone {
  color: #fff;
  text-align: center;
  font-family: Sora;
  font-size: 1.8rem;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 1.67; /* 166.667% */
}

.hero__image {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  border-radius: 6px;
  object-fit: cover;
}

.hero__img--large {
  /* margin-top: -90px; */
  width: 330px;
  height: 540px;
  margin-right: -6px;
  z-index: 1;
}

.hero__img--small {
  width: 210px;
  height: 410px;
}

/*============ service============== */

.service__heading {
  text-align: center;
  padding: 40px 0;
  color: #10375c;
  font-family: Sora;
  font-size: 5rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.service__desc {
  width: 468px;
  margin: 3px auto 0;
  text-align: center;
  color: #575f66;
  font-family: Sora;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.service__row {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

.service-item {
  padding: 21px;
  display: flex;
  width: 470px;
  border-radius: 10px;
  background: #fff;
  transition: 0.25s;
}
.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 1);
}

.service-item:hover .service-item__icon {
  color: #fff;
  background: #2e80ce;
}

.service-item__icon {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  background: #eff6fd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin-right: 19px;
  transition: 0.25s;
}

.service-item__heading {
  color: #10375c;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.service-item__dessc {
  margin-top: 8px;
  color: #575f66;
  /* font-family: Sora; */
  font-size: 1.6rem;
  /* font-style: normal; */
  font-weight: 300;
  line-height: 1.75; /* 175% */
}

.service__btn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

/* ===========Work======== */
.work {
  background: #f6fbff;
  padding: 40px 0;
}

.section-heading__title {
  color: #10375c;
  font-family: Sora;
  font-size: 5rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.section-desc_content {
  margin-top: 20px;
  color: #575f66;
  font-family: Sora;
  font-size: 1.8rem;
  /* font-style: normal; */
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.section-desc_content {
  width: 468px;
}

.work__list {
  font-family: Sora;
  margin-top: 26px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-item {
  padding: 43px;
  border-radius: 4px;
  background: #fff;
  border: 16px solid #eaf6ff;
  transition: 0.25s;
}

.work-item:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-item__heading {
  margin-top: 18px;
  color: #10375c;
  /* font-family: Sora; */
  font-size: 2.6rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.39; /* 138.462% */
}

.work-item__desc {
  margin-top: 28px;
  color: #575f66;
  /* font-family: Sora; */
  font-size: 1.6rem;
  /* font-style: normal; */
  /* font-weight: 300; */
  line-height: 1.75; /* 175% */
}

.work-item__more {
  margin-top: 18px;
  color: #2e80ce;
  display: inline-block;
  font-size: 1.6rem;

  font-weight: 400;
  line-height: 1.75; /* 175% */
}

/* Abou============================ */
.about {
  padding: 45px 0 156px;
  /* background: antiquewhite; */
}

.about-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__media {
  width: 49%;
}

.about-content {
  color: #10375c;
  font-family: Sora;
  font-size: 5rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
  width: 40%;
}

.about__img {
  position: relative;
}

.about__img--big {
  display: flex;
  width: 512px;
  height: 370px;
  /* flex-shrink: 0; */
  border-radius: 6px;
  /* background: url(<path-to-image>) lightgray -1.5px 0px / 108.398% 100% no-repeat; */
  box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
  object-fit: cover;
}

.section-heading {
  text-align: left;
}
.section-desc {
  font-family: Sora;
  text-align: left;
  letter-spacing: -0.5px;
  font-weight: 300;
}

.about__img--small {
  position: absolute;
  top: 121px;
  left: 238px;
  object-fit: cover;
  width: 332px;
  height: 370px;
  flex-shrink: 0;
  border-radius: 6px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.about-content__btn {
  margin-top: 38px;
}

/* =============team============== */
.team {
  padding: 30px 0;
}
.team-header {
  text-align: center;
  margin: 0 auto;
}

.team-item__img-bg {
  border-radius: 6px;
  background: #eaf6ff;
  padding-top: 28px;
  overflow: hidden;
}
.team-item:hover .team-item__thumb {
  transform: scale(1.1);
}

.team__cta {
  margin-top: 28px;
}

.team__list {
  display: grid;
  column-gap: 30px;
  margin-top: 70px;
  grid-template-columns: repeat(4, 1fr);
}

.team-item__thumb {
  height: 290px;
  max-width: 100%;
  object-fit: cover;
  display: block;
  transition: 0.5s;
}
.team-heading {
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.team-item__name {
  color: #10375c;
  text-align: center;
  /* font-family: Sora; */
  font-size: 1.6rem;
  /* font-style: normal; */
  /* font-weight: 400; */
  line-height: 1.75; /* 175% */
}

.team-item__desc {
  color: #575f66;
  text-align: center;
  font-family: Sora;
  font-size: 1.4rem;
  /* font-style: normal; */
  font-weight: 300;
  line-height: 1.86; /* 185.714% */
}

.team__control {
  margin-top: 38px;
  justify-content: center;
}
/* ====================install -================= */
.install {
  margin-top: 120px;
}
.install__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 70px;
  height: 427px;
  border-radius: 4px;
  background: #2e80ce;
  /* background: antiquewhite; */
}

.install__img {
  position: absolute;
  bottom: 0;
  width: 284px;
  height: 522px;
  object-fit: cover;
}

.install__content {
  min-width: 586px;
}

.install__heading {
  max-width: 489px;
  color: #fff;
  font-family: Sora;
  text-align: left;
}

.install__desc {
  margin-top: 18px;
  max-width: 586px;
  color: #fff;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.67; /* 166.667% */
}

.install__row {
  margin-top: 38px;
  display: flex;
  column-gap: 28px;
  align-items: center;
}

/* Blog============= */
.blog {
  padding: 55px 0;
}

.blog__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.block__content {
  width: 40%;
}

.blog__heading {
  max-width: 470px;
}

.blog__more {
  display: inline-block;
  margin-top: 8px;
  color: #10375c;
  font-family: Sora;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.56; /* 155.556% */
  text-decoration-line: underline;
  text-underline-offset: 5px;
}

.blog__control {
  margin-top: 28px;
  justify-content: flex-start;
}

.blog__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 50px;
}

.blog-item {
  overflow: hidden;
  max-width: 270px;
  border-radius: 1px solid #e8ebee;
  border-radius: 12px 12px 0px 0px;
  background: #e8ebee;
  transition: 1s;
}

.blog-item:hover {
  border-radius: 12px;
  box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
}

.blog-item:hover .blog-item__thumb {
  transform: scale(1.1);
}

.blog-item__thumb {
  width: 270px;
  height: 172px;
  border-radius: 12px 12px 0px 0px;
  object-fit: cover;
  transition: 0.25;
}

.blog-item__wrap {
  height: 172px;
  overflow: hidden;
}

.blog-item__body {
  padding: 18px 22px;
}

.blog-item__heading {
  color: #10375c;
  font-family: Sora;
  font-size: 1.6rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.62; /* 162.5% */
}

.blog-item__desc {
  margin-top: 10px;
  color: #575f66;
  font-family: Sora;
  font-size: 1.4rem;
  /* font-style: normal; */
  font-weight: 300;
  line-height: 1.72; /* 171.429% */
}

.blog-item__more {
  display: inline-block;
  margin-top: 12px;
  color: #10375c;
  font-family: Sora;
  font-size: 1.4rem;
  /* font-style: normal; */
  font-weight: 400;
  /* line-height: normal; */
}

.blog-item__more:hover {
  color: #2e80ce;
}

/* appoiment===== */

.appoiment {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}

.appoiment__inner {
  padding: 60px 178px;
  background: #f6fbff;
  text-align: center;
}
.appoiment__heading {
  color: #10375c;
  text-align: center;
  font-family: Sora;
  font-size: 5rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.2; /* 120% */
  letter-spacing: -1px;
}

.appoiment__heading:after {
  content: "";
  display: block;
  width: 136px;
  height: 2px;
  background: #2e80ce;
  margin: 18px auto 0;
}

.appoiment__desc {
  /* margin-top: 18px; */
  max-width: 617px;
  margin: 18px auto 0;
  text-align: center;
}

.appoiment__btn {
  margin-top: 38px;
}

/* ================footer================ */
.footer {
  margin-top: 10px;
  padding-top: 30px;
  background: #10375c;
}

.footer__top {
  display: grid;
  grid-template-columns: 1fr 0.4fr 0.5fr 0.9fr;
  column-gap: 78px;
}

.footer__desc {
  margin-top: 17px;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.6rem;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 1.75; /* 175% */
}

.footer__heading {
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.6rem;
  /* font-style: normal; */
  font-weight: 600;
  line-height: 1.75; /* 175% */
}

.footer__list {
  margin: 20px 0 28px;
}

.footer__link {
  word-spacing: nowrap;
  color: #a9b3bb;
  font-family: "Open Sans";
  font-size: 1.4rem;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer__link:hover {
  text-decoration: underline;
}

.footer__item {
  margin-top: 10px;
}

.footer__social {
  display: flex;
  margin: 31px 0 20px;
  column-gap: 10px;
}
.footer__social-btn {
  color: #2e80ce;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: #f8f8f8;
}

.footer__social-btn:hover {
  background: #2e80ce;
  color: #fff;
}

.footer-form {
  display: flex;
  column-gap: 12px;
  margin-top: 27px;
}

.footer-form__input {
  width: 212px;
  height: 46px;
  border-radius: 4px;
  border: 1px solid #406181;
  background: transparent;
  outline: none;
  color: #fff;
}

.footer-form__input::placeholder {
  color: #9ca8b1;
  font-family: "Open Sans";
  font-size: 1.4rem;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}

.footer-form__submit {
  border: none;
  color: #fff;
  font-family: "Open Sans";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.86; /* 185.714% */
  width: 108px;
  height: 46px;
  border-radius: 4px;
  background: #2e80ce;
}

.footer-form__submit:hover {
  cursor: pointer;
  opacity: 1;
}

.footer__coppyright {
  border-top: 1px solid #406181;
}

.footer__coppyrigt-text {
  padding: 20px 0 20px;
  color: #aab3ba;
  text-align: center;
  font-family: "Open Sans";
  font-size: 1.4rem;
  /* font-style: normal; */
  font-weight: 400;
  line-height: 1.86; /* 185.714% */
}
